# Unit testing files
src/InvalidArgumentException.java
src/JsonReader.java
src/Tester.java

# Save data folders
San_Francisco/

# Depreciated/Unit Testing class files
/bin/JsonReader.class
/bin/Tester.class

# Eclipse specific settings/files 
.settings/
.project
.classpath

# Swap files
*.swp
